main{
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin: 60px auto;
}
section{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
h1 {
  margin-bottom: 60px;
  font-family: 'Roboto', sans-serif;
  font-size: 42px;
  color: hsl(210, 3%, 20%);
}
article.table-container {
  margin-bottom: 60px;
}
table#employees{
  background-color: #ffffff;
  width: 86vw;
  border-radius: 6px;
  border-style: hidden; 
  box-shadow: 0 10px 24px 3px rgba(15, 34, 205, 0.2);
  border-collapse: separate;
  border-spacing: 0;
}


table#employees th {
  padding: 20px;
  text-align: left;
  background-color: #0F22CD;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}


/* table#employees th:not(:first-child){
  padding: 20px 20px 20px 0px;
}
table#employees th:last-child{
  padding: 20px 20px 20px 20px;
}
table#employees th:first-child{
  padding: 20px 0px 20px 20px;
} */

table tr:first-child th:first-child {
  border-top-left-radius: 6px;
}

table tr:first-child th:last-child {
  border-top-right-radius: 6px;
}

table tr:last-child td:first-child {
  border-bottom-left-radius: 6px;
}

table tr:last-child td:last-child {
  border-bottom-right-radius: 6px;
}
table tr:not(:last-child) td {
  border-bottom: 1px solid hsl(204, 42%, 84%);
}
table tr td{
  padding: 0px 20px;
  text-align: left;
  color: #74777A;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  height: 60px;
}

/* table tr td:not(:first-child){
  padding: 0px 20px 0px 0px;
}
table tr td:last-child{
  padding: 0px 20px 0px 20px;
}
table tr td:first-child{
  padding: 0px 0px 0px 20px;
} */

table tr td:nth-child(1){
  width: 200px;
}
table tr td:nth-child(2){
  width: 140px;
}
table tr td:nth-child(3){
  width: 160px;
}
table tr td:nth-child(4){
  width: 160px;
}
table tr td:nth-child(5){
  width: 280px;
}
table tr td:nth-child(6){
  width: 180px;
}

table tr.status.not-deleted span{
  background-color: #ffffff;
  color: #ffffff;
  padding: 8px;
  border-radius: 5px;
  width: 69.23px;
  height: 35px;
}
table tr.status.deleted span{
  background-color: #fa64751e;
  color: #FA6476;
  padding: 8px;
  border-radius: 5px;
}

table tr td i {
  cursor: pointer;
}
table tr td input {
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  color: #74777A;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 16px;
  transition: all .3s ease;
}

table tr td input:focus{
  outline: none;
  /* border: 1.5px solid rgba(15, 34, 205, 1); */
  box-shadow: inset 0 0 0 1.6px rgba(15, 34, 205, 1);
  padding-left: 6px;
  border-radius: 6px;
  background-color: rgba(15, 34, 205, 0.03);
  color: #0F22CD;
}


button{
  border: none;
  outline: none;
  background-color: #0F22CD;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #ffffff;
  padding: 12px 16px;
  border-radius: 6px;
  cursor: pointer;
  transition: all .1s ease;
}
button:hover,button:focus{
  box-shadow: 0 10px 24px 3px rgba(15, 34, 205, 0.2);
}
button:active{
  box-shadow: 0 1px 5px 0px rgba(15, 34, 205, 0.2);
  transform: translateY(5px);
}

section.modal-container{
  position: fixed;
  top: 0%;
  left: 0%;
  right: 0%;
  bottom: 0%;
  width: 100%;
  height: 100%;
}

article.background{
  position: absolute;
  top: 0%;
  left: 0%;
  right: 0%;
  bottom: 0%;
  width: 100%;
  height: 100%;
  background-color: rgba(116, 119, 122, 0.2);
}
article.modal{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 64vw;
  height: 80%;
  background-color: #ffffff;
  border-radius: 6px;
  box-shadow: 0 10px 24px 3px rgba(15, 34, 205, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
 article.modal div{
   overflow-y: scroll;
   display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  word-wrap: break-word;
   margin: 48px;
   padding: 24px;
   width: 90%;
   background-color:  #EDF3FB;
   font-family: serif;
   line-height: 32px;
   font-size: 18px;
   letter-spacing: 0.4px;
  }

i.fas.fa-times{
  position: absolute;
  top: 30px;
  right: 30px;
  transform: translate(-50%, -50%);
  font-size: 20px;
  cursor: pointer;
  color: hsl(210, 3%, 20%);
}